* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
body {
    height: 100vh;
    background-color: #D9D9D9;
}
main{
    background-color: #F8FAFC;
}
.titulo{
    font-size: 1.25rem;
    text-align: center;

}
.titulo p{
    color: #4d55627c;
    font-size: 1rem;
}
.articulos{
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}
.articulos span{
    display: flex;
    flex-wrap: wrap;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
 }